.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h6{
  color: red;
}

nav{
  background-color: #002244;
  display: flex;
  font-size: 40px;
  justify-content: center;
  height: 50px;
  
}
.movie{
  color: white;

}
.movie:hover{
 text-decoration: none;
 color: white;
} 
.row{
  flex-wrap: nowrap;
}
.card{
  text-align: center;
  padding-top: 10px;
  opacity: 1;
  width: 200px;
  color: white;
}

.card-title{
  color: #262626;
  display: block;
  overflow: hidden;
  font-size: 14px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0 !important;
}

.container{
  margin-top: 100px;
}
img {
  display:block;
  margin:auto;
}
.slick-prev:before, .slick-next:before {
  color: black !important;
}

.text{
  background-color:#5097A5;
  color: white;
  margin-top: 20px;
}
.title{

  background-color:black;
  color: white;
  width:200px;
  margin-left: 7px;
  height:50px;
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
}